name: Build Charts

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'README.md'
  workflow_dispatch:

permissions:
  contents: write
  packages: write

concurrency:
  group: playm8s-helm
  cancel-in-progress: false

defaults:
  run:
    shell: bash

env:
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: "${{ secrets.GH_PAT }}"
          ref: main
          clean: true
          fetch-depth: 1
          fetch-tags: true
          set-safe-directory: true

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=sha,format=long
            type=raw,value=latest,priority=900,enable={{is_default_branch}}

      - name: Build and Push Utility Image
        uses: docker/bake-action@v6
        with:
          push: true
          source: .
          files: |
            ./docker-bake.hcl
            cwd://${{ steps.meta.outputs.bake-file }}
          targets: build

      - name: Generate HelmCharts
        shell: bash
        run: |
          docker run \
            --rm \
            --pull=always \
            --volume="${{ github.workspace }}:/work" \
            --env="GITHUB_ACTOR=${GITHUB_ACTOR}" \
            "${{ env.REGISTRY }}/${{ github.repository }}:sha-${{ github.sha }}" \
            -c "cd /work && make || echo FAILED"

          echo "pushing gh-pages branch"
          git switch gh-pages && git push

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: output
          path: |
            src/**/dist
