name: Release Charts

on:
  push:
    branches:
      - gh-pages
    paths:
      - 'charts/**'
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  deployments: write
  pages: write

concurrency:
  group: playm8s-helm
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Configure Git
        run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: "${{ secrets.GH_PAT }}"
          ref: gh-pages
          clean: true
          fetch-depth: 1
          fetch-tags: true
          set-safe-directory: true

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: charts
          skip_upload: false
          skip_existing: false
          mark_as_latest: true
          pages_branch: gh-pages
        env:
          CR_TOKEN: "${{ secrets.GH_PAT }}"
